astropy==5.0
cppyy==2.2.0
dill==0.3.4
ete3==3.1.2
gym==0.17.3
joblib==0.17.0
lark==1.0.0
lark_parser==0.10.0
matplotlib==3.2.2
mpmath==1.1.0
MulticoreTSNE==0.1
natsort==8.0.0
networkx==2.5
nltk==3.6.5
numba==0.53.1
numpy==1.19.5
observations==0.1.4
pandas==1.1.4
pydot==1.4.1
rpy2==3.4.5
scipy==1.5.4
setuptools==52.0.0.post20210125
statsmodels==0.12.1
stdlib_list==0.8.0
sympy==1.6.2
tensorflow==2.6.0
torch==1.7.0
tqdm==4.56.0
